

.FidbackList {
  display: inline-block;
  padding: 0;
  margin-bottom: 60px;
  margin-top: 40px;

}

.FidbackBtn {
  width: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  border-radius: 5px;
  background-color: #EEE;
  box-shadow: inset 0px 0px 8px #2c3a7b;
  cursor: pointer;
}

.FidbackBtn:hover {
  background-color: #ccc;
  box-shadow: 0px 0px 6px #2c3a7b;
}

.FidbackBtn:active {
  background-color: #aaa;
  color: rgb(255, 100, 100);
}

.FidbackBtn:not(:last-child) {
  margin-right: 12px;
}
